<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>

        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true" />

        <rewrite>
        <rules>
            
            <rule name="Redirect to www" stopProcessing="true">
              <match url="(.*)" />
              <conditions trackAllCaptures="false">
                <add input="{HTTP_HOST}" pattern="^arsoa.tw$" />
              </conditions>
              <action type="Redirect" 
                url="{MapProtocol:{HTTPS}}://www.arsoa.tw/{R:1}" />
            </rule>
            <rule name="RuleRemoveIndex" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="false" />
                <conditions>
                    <add input="{R:1}" pattern="^(index_(.*)\.php|public|xml|assets|download|file|adminer\.php|dbtest\.php|config\.xml|robots\.txt)" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
            </rule>
        </rules>      
          <rewriteMaps>
          <rewriteMap name="MapProtocol">
            <add key="on" value="https" />
            <add key="off" value="http" />
          </rewriteMap>
        </rewriteMaps>
        </rewrite>
         <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
    </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="209657600" />
            </requestFiltering>
        </security>
    </system.webServer>
    
         
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
    </system.web>

</configuration>